@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css";

* {
  /* border: 1px dotted #000; */
  box-sizing: border-box;
}

body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin: 0;
}
a {
  text-decoration: none;
}
.container {
  display: grid;
  grid-template-areas:
    "header header header"
    "nav nav nav"
    "slider slider slider"
    "section section section"
    "footer footer footer";
  column-gap: 1px;

  align-items: center;
}
.header {
  grid-area: header;
  background: #d413e6;
}

.nav {
  grid-area: nav;
  background: #8dc5f3;
}
.slider {
  grid-area: slider;
  background: #e7e7e7;
}

.section {
  grid-area: section;
  background: #cdeea7;
}
.footer {
  grid-area: footer;
  background: #8dc5f3;
}
