@import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css';

*{
    /* border: 1px dotted #000; */
    box-sizing: border-box;
}
.main{
    background: #de62fd;
   
}
.header{
    background: #d413e6;


}

.nav{
    background: #8dc5f3;

}

.slider{
    background:  #e7e7e7;
}
.footer{

   background:  #8dc5f3;
}